.contenido {
  margin: auto;
  max-width: 95%;
  transition: all ease 0.5s;
  max-height: 600px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

#collapseExample {
  height: 500px;
}

a {
  cursor: pointer;
}
