:root {
  /*  Variables de css */
  --tinto: #7b2613;
  --blanco: #f3f3f3;
  --gris-obscuro: #545454;
}

* {
  font-family: "Arial";
}

.bs {
  background-color: rgb(39, 39, 39);
}

.borde {
  border-right: var(--gris-obscuro) 2px solid;
}

.link {
  color: white;
  transition: all ease 0.3s;
}

.link:hover {
  background-color: var(--gris-obscuro);
  color: black;
}

header,
.bs {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

header,
.c-tinto {
  background-color: var(--tinto);
}

body {
  background-color: var(--blanco);
}

footer {
  box-shadow: rgba(0, 0, 0, 0.35) 15px 0px 15px;
  background-color: var(--tinto);
}

.ml {
  margin-left: 30px;
}

.iconos {
  padding-top: 10px;
}

.icono {
  font-weight: 200;
  font-size: 2rem;
  margin-right: 10px;
  color: var(--blanco);
}

#tituloArchivado{
  width: 95%;
  margin: auto;
}

.usuario {
  color: var(--blanco);
}

.divTabla {
  width: 95%;
  margin: auto;
  max-height: 600px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.agregar-folio {
  width: 95%;
  margin: auto;
}

thead {
  position: sticky;
  top: 0;
}

.verde {
  color: green;
  margin-left: 3px;
}

.rojo {
  color: var(--tinto);
  margin-left: 3px;
}
