:root {
  /*  Variables de css */
  --tinto: #852120;
  --beige: #f9e9ce;
  --gris-claro: #9c9c9c;
  --gris-obscuro: #545454;
}

header {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body {
   
}