:root {
  /*  Variables de css */
  --tinto: #852120;
  --beige: #f9e9ce;
  --gris-claro: #9c9c9c;
  --gris-obscuro: #545454;
}

* {
  font-weight: Arial;
}

header {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body {
  background-color: var(--tinto);
}

footer {
  box-shadow: rgba(0, 0, 0, 0.35) 15px 0px 15px;
}

.ml {
  margin-left: 30px;
}

.iconos {
  padding-top: 10px;
}

.icono {
  font-weight: 200;
  font-size: 2rem;
  margin-right: 10px;
}