:root {
  /*  Variables de css */
  --tinto: #852120;
  --beige: #f9e9ce;
  --gris-claro: #9c9c9c;
  --gris-obscuro: #545454;
}

* {
  font-family: "Arial";
}

body {
  background-color: var(--beige);
}

header {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login {
  background-color: rgba(255, 255, 255, 0.9);
  width: 550px;
  text-align: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  padding: 1%;
  border-radius: 100px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

#boton {
  background-color: var(--tinto);
  border: var(--tinto);
}

#boton:hover {
  background-color: #752120;
}

#boton1 {
  color: var(--tinto);
  border: double 1px var(--tinto);
}

#boton1:hover {
  background-color: var(--tinto);
  color: white;
}
