:root {
    /*  Variables de css */
    --tinto: #852120;
    --beige: #f9e9ce;
    --gris-claro: #9c9c9c;
    --gris-obscuro: #545454;
}

* {
    font-family: "Arial";
}

body {
    background-color: var(--beige);
}

#divForm{
}